/*
#6D6E71 - gray
#BCBEC0 - light gray
#EBEBEB - dark white
#1F2D35 - darker gray-blue
#273942 - dark gray-blue
#2D424D - gray-blue
#405C69 - light gray-blue
#72A536 - green
#A3DCF6 - sky blue
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: 'QuestaSans';
  src: url('fonts/QuestaSansRegular.woff2') format('woff2'),
       url('fonts/QuestaSansRegular.woff') format('woff'),
       url('fonts/QuestaSansRegular.ttf') format('truetype'),
  font-display: auto;
  font-weight: 400;
  font-style: normal;
}

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #1F2D35;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
  border-top: 0.25rem solid #6D6E71;
}

IMG { border: 0; }

A { color: #2D424D; text-decoration: none; }

A:hover { color: #72A536; text-decoration: none; }

A.button {
  display: inline-block;
  padding: 0.72em 0.8em;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #72A536;
}

A.button:hover {
  color: #72A536;
  background: #2D424D;
}

H2 {
  font-size: 243%;
  line-height: 1;
  margin: 0 0 0.8em;
  text-transform: uppercase;
}

H3 {
  font-size: 143%;
  line-height: 1;
  margin: 0 0 0.3em;
  text-transform: uppercase;
}

UL, OL {
  margin: 0 0 0 0.7em;
  padding: 0 0 0 0.7em;
}

.site-width {
  width: 1000px; margin: 0 auto;

  @media (max-width: 1024px) { & { width: 96%; } }
}

.hr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 0;
  height: 0.0625rem;
  margin: 2.625rem 0.4375rem;
  background: #BCBEC0;

  @media (max-width: 700px) { & { margin: 2rem 0.4375rem; } }
}

.hr:before, .hr:after {
  content: '';
  box-sizing: border-box;
  width: 0.4375rem;
  height: 0.4375rem;
  border: 0.0625rem solid #BCBEC0;
  border-radius: 50%;
}

.hr:before { margin: 0 0 0 -0.4375rem; }
.hr:after { margin: 0 -0.4375rem 0 0; }

INPUT,
TEXTAREA {
  width: 97%;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  border: 1px solid #E0E0E0;
  padding: 0.4em 0.5em;
  background: #EBEBEB;
  color: #6D6E71;
  font-family: 'QuestaSans', sans-serif;
  font-size: 100%;
  line-height: 1;
  -webkit-appearance: none;
  appearance: none;
}

TEXTAREA { height: 6.5em; }

:-ms-input-placeholder { color: #6D6E71; }
::placeholder { color: #6D6E71; opacity: 1; }
:focus::placeholder { color: transparent; opacity: 0; }

/* HEADER */
HEADER { background: #FFFFFF; position: relative; }

HEADER .site-width {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#logo {
  display: block;
  width: 14.0625rem;
  aspect-ratio: 800 / 331;
  margin: 1.0625rem 0 0.9rem;
  background: url(../images/logo.webp) no-repeat center;
  background-size: contain;
}

@media (max-width: 700px) {
  #not-logo { display: flex; justify-content: space-between; width: 100%; padding-bottom: 0.75rem; }
}

#topmenu {
  display: flex;
  margin: 0.4375rem 0 0;
  text-align: right;
  font-family: 'QuestaSans', Arial, Helvetica, sans-serif;
  font-size: 85%;
  line-height: 1;
  color: #405C69;

  @media (max-width: 1024px) { & { width: auto; } }
}

#topmenu .tm {
  padding-top: 0.15rem;

  @media (max-width: 700px) { & { display: none; } }
}

#topmenu A { color: #405C69; }

#topmenu A:hover { color: #72A536; }

#topmenu A.phone {
  margin-right: 2em;
  font-size: 117%;
  line-height: 1;
  color: #405C69;
}

#topmenu A.phone:before {
  content: "";
  display: inline-block;
  margin-right: 0.2em;
  height: 0.8em;
  width: 0.8em;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z'/%3E%3C/svg%3E") no-repeat left center;
  background-size: contain;
}

.search {
  margin-top: 2.6em;

  @media (max-width: 700px) { & { margin-top: 0; width: 50%; } }
}

.search > DIV { display: flex; justify-content: flex-end; }

.search INPUT,
.search BUTTON {
  box-sizing: border-box;
  border: 0.0625rem solid #E0E0E0;
  background: #EBEBEB;
  color: #6D6E71;
  font-family: 'QuestaSans', Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1;
  height: 1.75rem;
  padding: 0 0.4375rem;
  margin: 0;
}

.search INPUT {
  border-right: 0;
  width: 13.4375rem;
  outline: none;
  text-align: right;

  @media (max-width: 600px) { & { width: calc(100% - 1.875rem); } }
}

.search BUTTON {
  border-left: 0;
  cursor: pointer;
  width: 1.875rem;
  background: #EBEBEB url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%236D6E71' d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'/%3E%3C/svg%3E") no-repeat center;
  background-size: 50%;
}

.search BUTTON:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000000' d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'/%3E%3C/svg%3E")
}

.searchpage {
  margin-top: 0;
  text-align: center;
}

#toggle-menu { display: none; }

LABEL[for="toggle-menu"] {
  display: none;
  position: absolute;
  top: 1rem;
  right: 2%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;

  @media (max-width: 700px) { & { display: flex; } }
}

LABEL[for="toggle-menu"] DIV,
LABEL[for="toggle-menu"] DIV:before,
LABEL[for="toggle-menu"] DIV:after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.375rem;
  width: 100%;
  background: #2D424D;
  transition: all 0.2s ease-in-out;
}

LABEL[for="toggle-menu"] DIV:before,
LABEL[for="toggle-menu"] DIV:after {
  content: "";
  top: -0.75rem;
  transform: none;
  transform-origin: 0% 0%;
}

LABEL[for="toggle-menu"] DIV:after { top: 0.75rem; }

#toggle-menu:checked + LABEL[for="toggle-menu"] DIV { background: transparent; }

#toggle-menu:checked + LABEL[for="toggle-menu"] DIV:before,
#toggle-menu:checked + LABEL[for="toggle-menu"] DIV:after {
  top: 50%;
  left: 50%;
  transform: rotate(45deg) translate(-50%,-50%);
}

#toggle-menu:checked + LABEL[for="toggle-menu"] DIV:after { transform: rotate(-45deg) translate(-50%,-50%); }

#toggle-menu:checked + LABEL[for="toggle-menu"]:after { display: none; }

@media (max-width: 700px) { 
  #toggle-menu + LABEL[for="toggle-menu"] + #menu { display: none; }
  #toggle-menu:checked + LABEL[for="toggle-menu"] + #menu { display: flex; }
}

#menu {
  background: #2D424D;
  box-shadow: 0 -0.25rem 0.125rem -0.125rem #DDDDDD;
  font-family: 'QuestaSans', Arial, Helvetica, sans-serif;
  font-size: 113%;
  line-height: 1;
  text-transform: uppercase;

  @media (max-width: 700px) { & {
    position: absolute;
    z-index: 1049;
    top: 100%;
    left: 0;
    width: 100%;
    font-size: 150%;
  } }

  @media (max-width: 435px) { & { font-size: 5vw; } }
}

#menu UL {
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 1000px;

  @media (max-width: 1024px) { & { width: 96%; } }
  @media (max-width: 700px) { & { flex-direction: column; } }
}

#menu UL LI {
  position: relative;
  z-index: 1049;
  border-left: 0.0625rem solid #1F2D35;

  @media (max-width: 700px) { & { border-left: 0; } }
}

#menu UL LI:first-child {
  border-left: 0;

  @media (max-width: 960px) { & { display: none; } }
}

@media (max-width: 960px) { #menu UL LI:nth-child(2) { border-left: 0; } }

#menu UL LI A {
  display: flex;
  align-items: center;
  padding: 0.975em 1.85em;
  color: #FFFFFF;
  text-decoration: none;
  white-space: nowrap;

  @media (max-width: 960px) { & { padding: 0.975em 1.2em; } }
  @media (max-width: 768px) { & { padding: 0.975em 1em; } }
  @media (max-width: 700px) { & {
    padding: 0.975em 0;
    border-top: 0.0625rem solid #1F2D35;
    justify-content: center;
  } }
}

#menu UL LI:first-child A {
  padding-left: 0.5em;

  @media (max-width: 960px) { & { padding-left: 0; } }
}

@media (max-width: 960px) { #menu > UL > LI:nth-child(2) > A { padding-left: 0; } }

#menu UL LI A.sub:after {
  content: "";
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23FFFFFF' d='M143 256.3L7 120.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0L313 86.3c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.4 9.5-24.6 9.5-34 .1zm34 192l136-136c9.4-9.4 9.4-24.6 0-33.9l-22.6-22.6c-9.4-9.4-24.6-9.4-33.9 0L160 352.1l-96.4-96.4c-9.4-9.4-24.6-9.4-33.9 0L7 278.3c-9.4 9.4-9.4 24.6 0 33.9l136 136c9.4 9.5 24.6 9.5 34 .1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

@media (max-width: 700px) { #menu UL LI A.sub:after { display: none; } }

#menu UL LI:hover A {
  color: #72A536;
  text-decoration: none;
}

#menu UL LI:hover A.sub:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%2372A536' d='M143 256.3L7 120.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0L313 86.3c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.4 9.5-24.6 9.5-34 .1zm34 192l136-136c9.4-9.4 9.4-24.6 0-33.9l-22.6-22.6c-9.4-9.4-24.6-9.4-33.9 0L160 352.1l-96.4-96.4c-9.4-9.4-24.6-9.4-33.9 0L7 278.3c-9.4 9.4-9.4 24.6 0 33.9l136 136c9.4 9.5 24.6 9.5 34 .1z'/%3E%3C/svg%3E");
}

#menu UL LI UL {
  display: none;
  width: auto;

  @media (max-width: 700px) { & { display: flex; } }
}

#menu UL LI:hover UL {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;

  @media (max-width: 700px) { & { position: static; } }
}

@media (max-width: 960px) { #menu > UL > LI:nth-child(2) > UL { left: -1em; } }

#menu UL LI UL LI { border-left: 0; }

@media (max-width: 960px) { #menu UL LI UL LI A { border-top: 0.0625rem solid #1F2D35; } }

#menu UL LI:hover UL LI A {
  color: #FFFFFF;
  background: rgba(45, 66, 77, 0.95);
  white-space: nowrap;
  border-top: 0.0625rem solid #1F2D35;
}

#menu UL LI UL LI A:hover {
  color: #1F2D35;
  background: rgba(114, 165, 54, 0.95);

  @media (max-width: 700px) { & { color: #72A536; background: transparent; } }
}

#menu UL LI UL LI:first-child A {
  border-top: 0;
  padding-left: 1.85em;
  box-shadow: inset 0 0.0625rem 0.1875rem #1F2D35;
}

#menu UL LI UL LI:last-child A { border-radius: 0 0 0.5rem 0.5rem; }

#menu UL LI:hover UL LI UL { display: none; }

#menu UL LI:hover UL LI:hover UL {
  display: block;
  top: 0.625rem;
  left: 100%;
}

#menu UL LI:hover UL LI:hover UL LI A {
  box-shadow: none;
  border-top: 0.0625rem solid #1F2D35;
  border-left: 0.0625rem solid #1F2D35;
}

#menu UL LI:hover UL LI:hover UL LI:first-child A {
  border-top: 0;
  border-radius: 0 0.5rem 0 0;
}

/* FOOTER */
#spiffs {
  background: #1F2D35;
  padding: 5.3em 0 2em;
  font-size: 90.5%;
  line-height: 1.3;
}

#spiffs .site-width {
  display: flex; flex-wrap: wrap; gap: 2rem 3.2%;

  @media (max-width: 800px) { & { gap: 2rem 4%; } }
}

#spiffs A {
  display: flex;
  flex-direction: column;
  width: 22.6%;
  line-height: 1.5;
  color: #FFFFFF;

  @media (max-width: 800px) { & { width: 48%; } }
  @media (max-width: 500px) { & { width: 100%; } }
}

#spiffs A .image {
  aspect-ratio: 226 / 144;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#spiffs A:hover .image:before {
  content: 'Discover More \00BB';
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 42%;
  height: 100%;
  background: rgb(45,66,77,0.8) url(../images/spinner.webp) no-repeat top 32% center;
  background-size: 30%;
  text-transform: uppercase;
}

#spiffs A .sep {
  height: 0.25rem;
  background: #BCBEC0;
  margin: 1.6em 0;
}

#spiffs A H3 {
  margin: 0 0 0.8em;
  font-size: 146%;
  line-height: 1;
  text-transform: uppercase;
}

#spiffs A .more {
  margin-top: auto;
  padding-top: 1em;
  color: #72A536;
  text-transform: uppercase;
}

#spiffs A .more:after { content: ' \00BB'; }

#spiffs A:hover .more { color: #6D6E71; }

#inventory {
  background: #72A536 url(../images/grid.webp) center;
  position: relative;
  overflow: hidden;
  padding: 1em 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.2;
  text-transform: uppercase;
}

#inventory:before {
  content: "";
  position: absolute;
  top: 0;
  left: 53%;
  height: 100%;
  width: 100%;
  background: url(../images/inventory-plates.webp) no-repeat left center;
  background-size: contain;
}

@media (max-width: 1024px) { #inventory:before { background-size: cover; } }

#inventory .site-width {
  box-sizing: border-box; padding-right: 500px;

  @media (max-width: 1024px) { & { padding-right: 48%; } }
  @media (max-width: 500px) { & { padding-right: 38%; } }
}

#inventory EM { color: #263943; font-weight: 800; }

#callus {
  margin: 0;
  padding: 0.45em 0;
  background: #ECECEC;
  color: #6D6E71;
  font-weight: bold;
  font-size: 385%;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

#callus SPAN, #callus A { color: #2D424D; }

FOOTER {
  padding: 2.1em 0 0;
  background: #2D424D;
  color: #FFFFFF;
}

FOOTER A { color: #FFFFFF; }
FOOTER A:hover { color: #6D6E71; }

FOOTER .site-width {
  display: flex; justify-content: space-between;

  @media (max-width: 850px) { & { flex-direction: column; } }
}

FOOTER .contact {
  width: 24%;
  box-sizing: border-box;
  margin-right: 1em;
  border-right: 0.0625rem solid #405C69;
  padding-right: 1em;
  font-size: 91%;
  line-height: 1.4;

  @media (max-width: 850px) { & {
    display: flex;
    align-items: center;
    gap: 0 3em;
    width: 100%;
    margin: 0 0 2em 0;
    border-right: 0;
    border-bottom: 0.0625rem solid #405C69;
    padding: 0 0 2em 0;
  } }
}

#logo-footer {
  width: 5.6875rem;
  height: auto;
  margin-bottom: 0.5em;
}

FOOTER .contact > DIV:last-of-type {
  margin-top: 1.5em;

  @media (max-width: 850px) { & { margin-top: 0; } }
}

FOOTER .contact > DIV:last-of-type STRONG { color: #72A536; }

FOOTER .menu {
  font-size: 84%;
  line-height: 1.4;
}

FOOTER .menu UL {
  display: flex;
  justify-content: flex-end;
  gap: 0 3.5em;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;

  @media (max-width: 850px) { & { justify-content: space-between; } }
  @media (max-width: 600px) { & { flex-wrap: wrap; } }
}

@media (max-width: 1024px) { FOOTER .menu > UL { gap: 1.2em 4vw; } }

FOOTER .menu UL LI {
  font-weight: bold;
  text-transform: uppercase;
}

FOOTER .menu > UL > LI:first-of-type {
  min-width: 4.5em;

  @media (max-width: 600px) { & { min-width: 0; width: 100%; } }
}

FOOTER .menu > UL > LI:nth-child(5) {
  position: absolute;
  top: 1.6em;
  left: 0;

  @media (max-width: 600px) { & { top: 0; left: 33%; } }
}

FOOTER .menu > UL > LI:nth-child(6) {
  position: absolute;
  top: 3.2em;
  left: 0;

  @media (max-width: 600px) { & { top: 0; left: 66%; } }
}

FOOTER .menu UL LI UL {
  flex-direction: column;
}

FOOTER .menu UL LI UL LI {
  font-weight: normal;
  text-transform: none;
  padding-top: 0.3em;
}

FOOTER .ribbon {
  margin-top: 2.1em;
  padding: 1em 0;
  background: #273942;
  color: #FFFFFF;
  line-height: 1;
}

FOOTER .ribbon .site-width { align-items: center; }

FOOTER .ribbon FORM .buttongroup { display: flex; align-items: center; }

FOOTER .ribbon FORM INPUT[type="email"] {
  width: 15.625rem;
  margin-right: 0.7em;
  border: 0.0625rem solid #405C69;
  background: #1F2D35;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

FOOTER .ribbon FORM INPUT[type="submit"] {
  width: auto;
  border: 0;
  padding: 0.375rem 0.5rem;
  background: #72A536;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

FOOTER .ribbon FORM INPUT[type="submit"]:hover {
  background: #2D424D;
  color: #72A536;
}

FOOTER .ribbon .site-width > DIV {
  color: #BCBEC0;
  font-family: 'QuestaSans', sans-serif;
  font-size: 78%;
  line-height: 1;
  text-align: right;

  @media (max-width: 850px) { & { margin-top: 1.5em; } }
}

FOOTER .ribbon > DIV A { color: #A3DCF6; }
FOOTER .ribbon > DIV A:hover { color: #72A536; }

/* GENERIC PAGE */
ARTICLE {
  margin: 3.2em auto;
  font-size: 97.25%;
  line-height: 1.3em;
}

.content {
  padding: 3.2em 0;
  font-size: 0.875rem;
  line-height: 1.3;
}

.content IMG { max-width: 100%; height: auto; }

.site-width.fullwidth {
  width: 100%;
  margin: 0;
  font-size: 100%;
  padding-top: 0;
}

#sub-banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10.9375rem;
  border-bottom: 0.5625rem solid #405C69;
  background: url(../images/sub-banner.webp) top center no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-size: 174%;
  line-height: 1;
  text-transform: uppercase;

  @media (max-width: 700px) { & { border-top: 0.5625rem solid #405C69; } }
}

#sub-banner H1 { font-size: inherit; font-weight: normal; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1.1em 1.8666%;

  @media (max-width: 750px) { & { gap: 1.969vw 2%; } }
  @media (max-width: 600px) { & { gap: 1rem 0; } }
}

.gallery A {
  width: 23.6%;
  aspect-ratio: 236 / 135;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;

  @media (max-width: 750px) { & { width: 49%; } }
  @media (max-width: 600px) { & { width: 100%; } }
}

.gallery A:hover:before {
  content: "";
  display: flex;
  height: 100%;
  background: rgb(45,66,77,0.8) url(../images/spinner.webp) no-repeat center;
  background-size: 30%;
}

.two-col, .three-col {
  display: flex; justify-content: space-between;

  @media (max-width: 700px) { & { flex-direction: column; } }
}

.two-col > DIV:first-of-type {
  width: 50%;

  @media (max-width: 700px) { & { width: 100%; margin-bottom: 2rem; } }
}

.two-col > DIV:last-of-type {
  width: 46.7%;

  @media (max-width: 700px) { & { width: 100%; } }
}

.raq { font-size: 93%; line-height: 1.2em; }

.darkgreen { background: #2D424D; color: #FFFFFF; }
.darkgreen H2 { color: #76AA36; }

.darkwhite {
  background: #EBEBEB; color: #1F2D35; border-bottom: 0.0625rem solid #B7B7B7;
}

/* HOME */
#hero {
  height: 26.6875rem;
  border-bottom: 0.375rem solid #405C69;
  margin-bottom: 0;
  background-color: #405C69;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 139%;
  line-height: 1.5;
  text-shadow: 0.0625rem 0.0625rem #000000;
  box-sizing: border-box;
  
  @media (max-width: 740px) { & { font-size: 130%; } }
  @media (max-width: 700px) { & { border-top: 0.375rem solid #405C69; } }
}

#hero .f-carousel__slide {
  display: flex; align-items: center; background-size: cover !important;
}

#hero .f-carousel__slide .site-width {
  padding-right: 250px;

  @media (max-width: 1024px) { & { padding-right: 10%; } }
  @media (max-width: 800px) { & { padding-right: 0; } }
}

#hero .f-fadeIn, #hero .f-fadeOut { animation-duration: 2s !important; }

#hero H1 {
  margin: 0 0 0.2em;
  font-weight: bold;
  font-size: 350%;
  line-height: 1;
  text-shadow: none;
  text-transform: uppercase;

  @media (max-width: 740px) { & { font-size: 250%; } }
}

#hero A { font-size: 75%; text-shadow: none; }

#hero .f-carousel__dots { z-index: 1040; bottom: 0; }

#hero .f-carousel__dots LI { opacity: 1; }
#hero .f-carousel__dots LI:hover { opacity: 0.7; }

#hero .f-carousel__dot {
  width: 1rem;
  height: 1rem;
  background-color: #6D6E71;
}

#hero .is-current .f-carousel__dot { background-color: #72A536; }

#home { display: flex; justify-content: space-between; flex-wrap: wrap; }

#home > DIV {
  box-sizing: border-box;
  width: 30.5%;
  font-size: 107%;
  line-height: 1.6;

  @media (max-width: 800px) { & { width: 48%; } }
  @media (max-width: 600px) { & { width: 100%; } }
}

@media (max-width: 800px) { #home > DIV:last-of-type { width: 100%; } }
@media (max-width: 600px) { #home > DIV:first-of-type { margin-bottom: 2rem; } }

#home > DIV H2 { margin: 0 0 0.3em; }

#home UL {
  margin: 0 0 0 0.5em;
  padding: 0;
  list-style-type: circle;
  color: #405C69;
  font-weight: bold;
  font-size: 153%;
  line-height: 1.1;
  text-transform: uppercase;
}

#home UL LI { padding-bottom: 0.85em; }
#home UL LI:last-child { padding-bottom: 0; }

#home .sep {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0.4375rem 0;
  width: 0.0625rem;
  background: #BCBEC0;
  font-size: 0;
  line-height: 1;

  @media (max-width: 800px) { & {
    flex-direction: row;
    margin: 2rem 0.4375rem;
    height: 0.0625rem;
    width: 100%;
  } }
}

#home .sep:before, #home .sep:after {
  content: '';
  box-sizing: border-box;
  width: 0.4375rem;
  height: 0.4375rem;
  border: 0.0625rem solid #BCBEC0;
  border-radius: 50%;
}

#home .sep:before { margin-top: -0.4375rem; }
#home .sep:after { margin-bottom: -0.4375rem; }

@media (max-width: 800px) {
  #home .sep:before { margin: 0 0 0 -0.4375rem; }
  #home .sep:after { margin: 0 -0.4375rem 0 0; }
}

#home > DIV:first-of-type A.button {
  font-size: 90%;
  background: #BCBEC0;
  color: #2D424D;
}

#home > DIV:first-of-type A.button:hover {
  background: #2D424D;
  color: #72A536;
}

#home > DIV:last-of-type A.button {
  font-size: 142%;
  display: table;
  margin: 0 auto;
}

/* SERVICES */
#services-menu {
  background: #EBEBEB; overflow: hidden;

  @media (max-width: 600px) { & { display: none; } }
}

#services-menu UL {
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 1000px;
  font-size: 95%;
  line-height: 1;
  text-transform: uppercase;

  @media (max-width: 1024px) { & { width: 98%; } }
  @media (max-width: 800px) { & { font-size: 1.6vw; } }
}

#services-menu UL LI A { display: none; }

#services-menu > UL > LI:nth-child(2) UL LI { padding: 0.7em 0; }

#services-menu > UL > LI:nth-child(2) UL LI A {
  display: flex;
  white-space: nowrap;
  border-left: 0.0625rem solid #2D424D;
  padding: 0 1.1em;
}

#services-menu > UL > LI:nth-child(2) UL LI:first-child A {
  border-left: 0;
  padding-left: 0;
}

/* OUR COMPANY */
.mission { padding: 3em 0 1.5em; font-size: 100%; }

.mission UL {
  width: 45%;

  @media (max-width: 700px) { & { width: 96%; } }
}

.mission UL LI { padding-bottom: 1.5em; }

@media (max-width: 700px) {
  .company-profile > DIV:first-of-type { margin-bottom: 1.5em; }
}

/* FACILITIES */
.facilities { padding: 3em 0; font-size: 100%; align-items: flex-start; }

.equipment-list { align-items: flex-start; }

@media (max-width: 970px) {
  .facilities IMG, .equipment-list IMG { max-width: 48%; }
}

@media (max-width: 700px) {
  .facilities IMG, .equipment-list IMG { max-width: 100%; margin-bottom: 2em; }
}

.industries .three-col LI { padding-top: 1.3em; }

.companies { padding-top: 3.2em; text-align: center; }

.companies H3 { text-transform: none; font-size: 1.375rem; }

.companies .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em 3.6em;
  padding: 1em 0;
}

/* FORMS */
.form .two-col > DIV {
  width: 48%;

  @media (max-width: 700px) { & { width: 100%; margin-bottom: 1.5em; } }
}

@media (max-width: 700px) { .two-col > DIV .two-col > DIV { margin-bottom: 0; } }

.form INPUT[name="username"] { position: absolute; left: -999999999px; }

.form LABEL { font-weight: bold; text-transform: uppercase; }

.form LABEL INPUT, .form LABEL TEXTAREA { margin: 0.1em 0 1.25em; }

.form TEXTAREA { height: 9.5em; }

.form INPUT[type="file"] { border: 0; padding: 0.4em 0; background: transparent; }

.form .note { font-size: 80%; line-height: 1.4; }

.form .radio INPUT[type="radio"] { display: none; }

.form .radio LABEL { margin-right: 2em; font-weight: normal; text-transform: none; }
.form .radio LABEL:last-of-type { margin-right: 0; }

.form .radio LABEL:before {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.25em;
  border-radius: 50%;
  background: #BCBEC0;
  position: relative;
  top: 0.1em;
  cursor: pointer;
}

.form .radio INPUT[type="radio"]:checked + LABEL:before {
  background: #405C69;
  box-shadow: inset 0 0 0 0.1875rem #BCBEC0;
}

.form .alert:-ms-input-placeholder { color: #ED243B; }
.form .alert::placeholder { color: #ED243B; }
.form INPUT.alert, .form .alert { border-color: #ED243B; }

.form BUTTON {
  display: block;
  margin: 1em auto 0;
  outline: 0;
  border: 0;
  padding: 0.7em 1.4em;
  background: #72A536;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 142%;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.form BUTTON:hover { color: #72A536; background: #2D424D; }

.form BUTTON.loader {
  background: #A0A0A0; color: #D8D8D8; pointer-events: none; position: relative;
}

.form BUTTON.loader:before {
  --loader-size: 2.25rem;
  content: "";
  position: absolute;
  top: 0.4rem;
  left: calc(50% - (var(--loader-size) / 2));
  border: 0.1875rem solid #FFFFFF;
  border-top-color: #72A536;
  border-radius: 50%;
  width: var(--loader-size);
  height: var(--loader-size);
  animation: spin 1s linear infinite;
  box-sizing: border-box;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#modal {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

#modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 31.25rem;
  box-sizing: border-box;
  padding: 1.75rem 2.25rem;
  background: #FFFFFF;
  color: #070707;
  font-size: 1.5rem;
  line-height: 1.2;
}

@media only screen and (max-width: 550px) { #modal-box { width: 96%; } }

#modal-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
}

#modal-button:before {
  content: "\2715";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 70%;
}

/* CONTACT */
#map-canvas { width: 100%; height: 18.125rem; }

/* NEWS */
.blog-post H2 { margin-bottom: 0.25em; }

.blog-post .wp-post-image { margin-bottom: 1em; }

.blog-post .wp-caption { width: 100% !important; }

.blog-post .wp-caption .wp-caption-text { margin-top: 0.2em; font-size: 80%; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
 
.video iframe,
.video object,
.video embed,
.video .fb-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.video .fb-video SPAN {
  width: 100% !important;
  height: 100% !important;
}